html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color:#333333;
    height: 95%;
}

.wrapper {
    padding: 0px;
    margin: auto;
    width: 100%;
    max-width: 1800px;
    overflow: auto;
    height: 100%;
}

.code {
    padding: 4px solid red;
    color: white;
    background-color: #1e1e1e;
    border: 0px solid transparent;
    display: block;
    height: 100%;
    overflow: auto;
}

.code-wrapper {
    margin: 0px;
    height: 95%;
}

.input-side {
    width: 47%;
    float: left;
    height: 100%
}

.output-side {
    width: 47%;
    float: right;
    height: 100%;
}

.selector-box {
    background-color: #1e1e1e;
    border: 0px solid transparent;
    border-bottom: 5px solid #333333;
    color: white;
    font-family: monospace;
}

.selector-option {
    font-family: monospace;
}