html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    opacity:0.9;
    background-color:#333333;
    height: 95%;
    margin: 0px;
    padding: 1%;
}

.container {
    color:#fff;
    z-index:1000;
    background-color: #1e1e1e;
}

.container.input {
    margin: 0px;
    position: relative;
    margin-right: 51%;
    height: 100%;
}

.container.output {
    margin: 0px;
    float: right;
    position: relative;
    text-align: left;
    width: 49%;
    height: 100%;
}

.code {
    background-color: #1e1e1e;
    border: 0px solid transparent;
    display: block;
    height: 100%;
    overflow: auto;
}

.hint {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}