html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    opacity:0.9;
    background-color:#333333;
    height: 95%;
    margin: 0px;
    padding: 1%;
}

.container {
    color:#fff;
    /* position:fixed; */
    /* width:100%; */
    /* height:100%; */
    /* top:10px; */
    /* left:10px; */
    z-index:1000;
    overflow: auto;
}

.container.input {
    margin: 0px;
    position: relative;
    margin-right: 51%;
    /* background-color: red; */
    height: 100%;
}

.container.output {
    margin: 0px;
    float: right;
    position: relative;
    text-align: left;
    width: 49%;
    /* background-color: blue; */
    height: 100%;
}

.code {
    display: block;
    height: 100%;
    background-color: #1e1e1e;
}